{% extends "layouts/default" %}
{% block script %}
<script type="text/javascript">

    $("#signUp").click(function() {
        var objParams = {
            userName : $('input[name="userName"]').val(),
            email    : $('input[name="email"]').val(),
            password : $('input[name="password"]').val()
        }

        $.post(
            "/member/signUp",
            objParams,
            function (result) {
                if (result.status == 'OK') {
                    alert(result.message);
                    location.href= "/";
                } else {
                    alert(result.message);
                }
            }
        )
    })

    console.log("이건 머지 테스트");

</script>
{% endblock %}
{% block content %}
<div class="signup-form">
        <h2>회원가입</h2>
        <p>회원가입을 위해 아래 항목을 작성해주세요. </p>
        <hr>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>
                </div>
                <input type="text" class="form-control" name="userName" placeholder="Username" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-paper-plane"></i>
					</span>
                </div>
                <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
					</span>
                </div>
                <input type="text" class="form-control" name="password" placeholder="Password" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
						<i class="fa fa-check"></i>
					</span>
                </div>
                <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="form-check-label"><input type="checkbox" required="required"><span style="padding: 1px;"></span>나는 <a href="#">이용약관 및 개인정보처리방침</a>에 동의합니다. </label>
        </div>
        <div class="form-group">
            <button id="signUp" type="submit" class="btn btn-primary btn-lg">회원가입</button>
        </div>
    <div class="text-center">이미 가입하셨나요? <a href="/member/login">Login here</a></div>
</div>
{% endblock %}